{% extends 'base.html.twig' %}

{% block title %}
    Liste par auteurs
{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <a href="{{ path('admin_author_insert') }}" class="btn bg-info">Entrer un nouvel auteur</a>
            </div>
            <div class="col-12">
                {% for author in authors %}
                    <div class="block-author">
                        <a href="{{ path('admin_author_show', {'id' : author.id }) }}">{% include '_author.html.twig' %}</a>
                        <a href="{{ path('admin_author_update', {'id' : author.id }) }}" class="btn bg-info">Modifier</a>
                        <a href="{{ path('admin_author_delete', {'id' : author.id }) }}" class="btn bg-info">Supprimer</a>
                    </div>

                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}