{% extends 'base.html.twig' %}

{% block title %}
    Liste par titre
{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <a href="{{ path('admin_book_insert') }}" class="btn">Entrer un nouveau livre dans la librairie</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                {% for book in books %}
                    <div class="block-book">
                        <a href="{{ path('admin_book_show', {'id' : book.id }) }}">{% include '_book.html.twig' %}</a>
                        <a href="{{ path('admin_book_update', {'id' : book.id }) }}" class="btn">Modifier</a>
                        <a href="{{ path('admin_book_delete', {'id' : book.id }) }}" class="btn">Supprimer</a>
                    </div>

                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}