@import "variables";
@import "mixins";
@import "footer";


a{
  text-decoration: none;
  color: black;
}

h1 {
  margin: 1rem;
}

img{
  width: 100px;
  margin: 1rem;
}

.book{
  display: flex;
  h2{
    color: $color;
  }
}

.block-book{
  border: 1px solid $color;
  padding: 0.5rem;
  margin: 1rem 0;
}

.block-author{
  border: 1px solid black;
  padding: 0.5rem;
  margin: 1rem 0;
}

.btn{
  @include btn;
}

.message{
  text-transform: uppercase;
}

.message-success{
  @extend .message;
  background-color: green;
}

.message-error{
  @extend .message;
  background-color: red;
}

.form-connexion{
  margin: 1rem;
}

.night-template{
  background-color: black;
}

.night-template p{
  color: white;
}

.night-template a{
  color: white;
}

.night-template i{
  color: white;
}

.night-template a:hover{
  color: blue;
}

.night-template h1{
  color: white;
}

.night-template h2{
  color: white;
}

.night-template h3{
  color: white;
}

.night-template .header-top{
  background-color: darkgrey;
}

.night-template .js-btn-night:hover{
  color: blue;
}


