@import "footer.scss";

a{
  text-decoration: none;
  color: black;
}

h1 {
  margin: 1rem;
}

.block-book{
  border: 1px solid black;
  padding: 0.5rem;
  margin: 1rem 0;
}

.block-author{
  border: 1px solid black;
  padding: 0.5rem;
  margin: 1rem 0;
}

.btn {
  margin: 1rem;
}

