@import "variables";
@import "mixins";
@import "footer";


a{
  text-decoration: none;
  color: black;
}

h1 {
  margin: 1rem;
}

img{
  width: 100px;
  margin: 1rem;
}

.book{
  display: flex;
  h2{
    color: $color;
  }
}

.block-book{
  border: 1px solid $color;
  padding: 0.5rem;
  margin: 1rem 0;
}

.block-author{
  border: 1px solid black;
  padding: 0.5rem;
  margin: 1rem 0;
}

.btn{
  @include btn;
}

.message{
  text-transform: uppercase;
}

.message-success{
  @extend .message;
  background-color: green;
}

.message-error{
  @extend .message;
  background-color: red;
}

.form-connexion{
  margin: 1rem;
}

