{% extends 'front/base.html.twig' %}

{% block title %}
    Liste par titre
{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                {% for book in books %}
                    <div class="block-book">
                        <a href="{{ path('book_show', {'id' : book.id }) }}">{% include '_book.html.twig' %}</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}