{% extends 'base.html.twig' %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Bienvenue Lecteur !!!!</h1>
            </div>
            <div class="col-12">
                <h3>Nos dernière parution</h3>
            </div>
            <div class="col-12 block-book">
                {% for book in lastBooks %}
                    <a href="{{ path('admin_book_show', {'id' : book.id }) }}">{% include '_book.html.twig' %}</a>
                {% endfor %}
            </div>
        </div>
    </div>



{% endblock %}